
.header {
    width: 100dvw;
    background-color: #1b263bff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
}