.vote-container {
  text-align: center;
  padding: 20px;
}

.vote-container h2 {
  margin-top: 0;
}

.vote-container p {
  margin: 10px 0;
}

.vote-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.vote-button:hover {
  background-color: #0056b3;
}

.button-group {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action-button {
  display: flex;
  padding: 10px 10px;
  background-color: #778da9ff;
  color: white;
  border: none;
  cursor: pointer;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.action-button:hover {
  background-color: #0056b3;
}
.acoes {
  position: fixed;
  bottom: 100px;
}	